:root {
    font-size: 62.5%;
    font-family: "Roboto";
}

body {
    font-size: 1.6rem;
}

header {
    min-height: 53.2rem;
    background-color: #F8F8FF;
    text-align: center;
}

header::before {
    content: "";
    background-image: url(../assets/bg-header-top.svg);
    width: 40.7rem;
    height: 34.5rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: "";
    background-image: url(../assets/bg-header-bottom.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    right: 0;
    bottom: -1.2rem;
}