:root {
    font-size: 62.5%;
    font-family: "Roboto";
}

body {
    font-size: 1.6rem;
}

header {
    min-height: 53.2rem;
    background-color: red;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}

header::before {
    content: "";
    display: block;
    background-image: url(../assets/bg-header-top.svg);
    width: 40.7rem;
    height: 34.5rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: "";
    display: block;
    background-image: url(../assets/bg-header-bottom.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    right: 0;
    bottom: -1.2rem;
}

header p {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #e45858;
}

header h1 {
    font-size: 4.8rem;
    height: 1.2rem;
    color: #121214;
    max-width: 64.7rem;
    margin: 1.8rem auto 0;
}

header h1 span {
    color: #6246ea;
}