* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto";
}

.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-size: 1.6rem;
}

input,
select,
button {
    font-family: "Roboto";
    all: unset;
}

header {
    min-height: 53.2rem;
    background-color: #F4F4FF;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}

header::before {
    content: "";
    display: block;
    background-image: url(../assets/bg-header-top.svg);
    width: 40.7rem;
    height: 34.5rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: "";
    display: block;
    background-image: url(../assets/bg-header-bottom.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    right: 0;
    bottom: -1.2rem;
}

header .content {
    width: fit-content;
    position: relative;
    z-index: 1;
}

header .content .top {
    text-align: center;
}

header p {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #e45858;
}

header h1 {
    font-size: 4.8rem;
    height: 1.2rem;
    color: #121214;
    max-width: 64.7rem;
    margin: 1.8rem auto 0;
}

header h1 span {
    color: #6246ea;
}

form {
    margin-top: 4rem;
    display: flex;
    padding: 4rem;
    gap: 2.4rem;
    background: #ffffff;
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background: #f4f4ff;
    border-radius: 0.5rem;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

input,
select {
    color: #7c7c8a;
    min-width: 29rem;
}

.search-field i {
    color: #e45858;
    font-size: 2.4rem;
}

select,
.select {
    position: relative;
}

select {
    z-index: 1;
}